@font-face {
    font-family: 'BhuTuka Expanded One';
    src: url('BhuTukaExpandedOne-Regular.eot');
    src: url('BhuTukaExpandedOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('BhuTukaExpandedOne-Regular.woff2') format('woff2'),
        url('BhuTukaExpandedOne-Regular.woff') format('woff'),
        url('BhuTukaExpandedOne-Regular.ttf') format('truetype'),
        url('BhuTukaExpandedOne-Regular.svg#BhuTukaExpandedOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

